.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex: 1;
  margin-top: 90px;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  background-color: #f8f9fa;
}

.contentWithCollapsedSidebar {
  margin-left: 80px;
}

@media (max-width: 991.98px) {
  .mainContent {
    margin-top: 80px;
  }

  .content,
  .contentWithCollapsedSidebar {
    margin-left: 0;
    width: 100%;
  }
}

.content > :global(.container-fluid) {
  width: 100%;
  padding: 0;
}
