.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  margin-left: 250px;
  margin-top: 56px;
  flex: 1;
  background-color: #f8f9fa;
  min-height: calc(100vh - 56px);
}
