.modal-90w {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

:global(.modal-dialog.modal-90w) {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

:global(.modal-content) {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
