.navbarProfile {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.navbarCustom {
  min-height: 56px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}

.navbarBrand,
.navLinkCustom {
  line-height: normal;
}

.logoutButton {
  background: none;
  border: none;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  margin-top: 5px;
}

.logoutButton:hover {
  text-decoration: underline;
  color: #084298;
}

.navbarPresentation {
  align-items: flex-start !important;
}

@media (max-width: 991.98px) {
  .navbarCollapseCustom {
    margin-top: 0;
    padding: 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 56px;
    left: 0;
  }

  .navbarCollapseCustomNavLink {
    padding: 0.5rem 15px;
  }

  .navbarPresentation {
    align-items: center !important;
    padding: 0.5rem 0;
  }

  .navbarProfile {
    display: none;
  }

  .logoutContainer {
    display: none;
  }
}

.navbar {
  height: 77px;
  width: 100%;
}
