.navbarProfile {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.navbarCustom {
  min-height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbarBrand,
.navLinkCustom {
  line-height: 80px;
}

@media (max-width: 991.98px) {
  .navbarCollapseCustom {
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navbarCollapseCustomNavLink {
    padding: 0.5rem 0;
  }
}
