.sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1000;
}

.sidebarHeader {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.collapsed .sidebarHeader {
  justify-content: center;
  padding: 0;
}

.toggleBtn {
  height: 30px;
  background: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  border: none;
}

.toggleBtn:hover {
  background: #e9ecef;
}

.collapsed {
  width: 80px;
}

.navLink {
  padding: 12px 20px !important;
  color: #333 !important;
  display: flex !important;
  align-items: center !important;
  white-space: nowrap !important;
  transition: background-color 0.3s ease !important;
}

.collapsedNavLink {
  justify-content: center;
  padding: 12px 0;
}

.navLink:hover {
  background-color: #e9ecef;
}

.navLinkActive {
  background-color: #0d6efd;
  color: white;
}

.icon {
  font-size: 1.2rem;
  width: 24px;
  text-align: center;
}

.menuLabel {
  margin-left: 12px;
  transition: opacity 0.3s ease;
}

.collapsedMenuLabel {
  opacity: 0;
  width: 0;
  overflow: hidden;
  margin-left: 0;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 0px;
  }

  .sidebarHeader {
    justify-content: center;
    padding: 0;
  }

  .navLink {
    justify-content: center;
    padding: 12px 0;
  }

  .menuLabel {
    opacity: 0;
    width: 0;
    overflow: hidden;
    margin-left: 0;
  }

  .collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
}
